@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* max-width: 1300px; */
}
/* Navbar related style */
.navbar{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    height: 92px;
    padding: 30px 200px;
    align-items: center;

}
.navbar span{
    color: white;
    display: none; 
}
.menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.menu li a{
text-decoration: none;
color: white;

}
.menu li{
    list-style: none;
}
.nav-btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    font-weight: 600px;

}

/* Banner related style */
.banner{
   
    background-image: url(../assets/hero-bg.png);
    height: 760px;
     background-size: cover;
     background-position: center;
     /* position: absolute; */
     

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /* width: 550px; */
    height: 558px;
    padding: 100px;
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%; 
    bottom: 30%;
   
}
.techwave-content{
     position: relative;
     top: 60%; 
    justify-content: center;
    align-items: center;
    margin: auto;

}

.techwave-content h2{ 
    font-size: 3.75rem;
    font-weight: 800px;
    color: white;
    /* padding-left: 80px; */
 
}
.techwave-content p{ 
    color: white;
}
 
.btn{
    display: flex;
    width: 356px;
    height: 44px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-top: 25px;
}
.first-btn{
    width: 201px;
    height: 44px;
    color: white;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: 1px solid #1A0B2E;
    border-radius: 1000px;
    margin-top: 20px;
}
.first-btn img{
    width: 1rem;
    height: 1rem;
}

.second-btn{
    width: 147px;
    height: 44px;
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    margin-top: 15px;
}

/* about related style */
.about-container{
    /* width: 100%; */
    height: 646px;
    background-color: #1A0B2E;
    justify-content: center;
    align-items: center;
    

}
.about-text{
   /* width: 1200px;  */
    margin: 0 auto;
    justify-self: center;
    padding: 60px 200px;
    /* border: 2px solid white; */
}
.about-container h2{
color: white;
font-size: 3rem ;
font-weight: 700px;
line-height: 100%;
}
.about-container p{
    color: white;
    margin-top: 16px;
    opacity: 80%;
   
}
.about-container hr{
    /* width: 1200px; */
    margin: 0 auto;
}
.about-text span{
    color: white;
}
.about-card{
    /* width: 1200px;  */
    height: 94px;
    margin: 80px 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;


}
.about-card h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900px;
}
.about-card h3 i{
    font-size: 1.75rem;
    

    
}

/* why choose related style */
.why{
    /* width: 100%; */
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.why h2{
    color: white;
    font-size: 3rem;
    font-weight: 700px;
    
}
.why-title{
    /* width: 1200px; */
    justify-content: center;
    margin-left: 33%;
    padding-bottom: 40px;
    

}
.why h4{
    color: white;
}
.why p{
    color: white;
    opacity: 80%;
}
.layout-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 40px;
    /* max-width: 1200px; */
    margin: 0 auto;
}
.audio{
 grid-columns: span 1;
 grid-row: span 2;
}
.mobile{
    grid-column: span 2;
}
.global{
    grid-column: span 2;
}
.exclusive{
    grid-column: span 2;
}

.layout-container>*{
    background-color: #35116566;
    padding: 40px;
    border-radius: 40px;

}


.footer{
    height: 412px;
    background-image: url(../assets/footer-bg.png);
    
}
.footer-section{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
.footer-logo{
    align-self: center;
    
}
.footer-p{
    color: white;
    opacity: 60%;
    align-self: center;
}
.sponsors{
    display: flex;
    flex-direction: row;
   align-self: center;
   gap: 40px;
   padding: 30px;

   
}
.sponsors a{
    color: white;
    opacity: 60%;
    text-decoration: none;

}





/* small device responsive code */
@media screen and (max-width:576px) {
    
.navbar{
    padding: 20px;
}
 .navbar>span{
    display: inline-block;
    margin-right: 30px;
 }
    .menu, .nav-btn{
        display: none;
    }
    
}