@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* max-width: 1300px; */
}
/* Navbar related style */
.navbar{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    height: 92px;
    padding: 30px 200px;
    align-items: center;

}
.navbar span{
    color: white;
    display: none; 
}
.menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.menu li a{
text-decoration: none;
color: white;

}
.menu li{
    list-style: none;
}
.nav-btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    font-weight: 600px;

}

/* Banner related style */
.banner{
   
    background-image: url(../assets/hero-bg.png);
    height: 760px;
     background-size: cover;
     /* background-size: contain; */
     background-position: center;
      /* position: absolute;  */
      position: relative;
     

}
.microphone{
    width: 116px;
    position: absolute;
    top: 33%;
    left: 40%;
    right: 50%;
    bottom: 60%;
    

}
.badge{
    background-color: #00FF88;
    padding: 5px 10px;
    border-radius: 30px;
    position: absolute;
    top: 22%;
    right: 23%;
    
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /* width: 550px; */
    height: 558px;
    padding: 100px;
    position: absolute;
    top: 3%;
    left: 30%;
    right: 30%; 
    bottom: 40%;
   
}
.techwave-content{
     position: absolute;
     top: 70%; 
     right: 29%;
    text-align: center;


}

.techwave-content h2{ 
    font-size: 3.75rem;
    font-weight: 800px;
    color: white;
    /* padding-left: 80px; */
 
}
.techwave-content p{ 
    color: white;
}
 

.first-btn{
    width: 201px;
    height: 44px;
    color: white;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: 1px solid #1A0B2E;
    border-radius: 1000px;
    margin-top: 20px;
}
.first-btn img{
    width: 1rem;
    height: 1rem;
}

.second-btn{
    width: 147px;
    height: 44px;
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    margin-top: 15px;
}

/* about related style */
.about-container{
    
    height: 646px;
    background-color: #1A0B2E;
    text-align: center;
    
    

}
.about-text{
    margin: 0 auto;
    justify-self: center;
    padding-bottom: 20px;
    padding-top: 60px;
}
.about-container h2{
color: white;
font-size: 3rem ;
font-weight: 700px;
line-height: 100%;
}
.about-container p{
    color: white;
    margin-top: 16px;
    opacity: 80%;
   
}
.about-container hr{
    margin: 0 auto;
    color: white;
    opacity: 60%;

}
.about-text span{
    color: white;
    padding-bottom: 30px;
}
.about-card{
    height: 94px;
    margin: 80px 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;


}
.about-card h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900px;
}

/* why choose related style */
.why{
    background-color: #230E3D;
    padding: 120px;
    
}

.why-title{
    color: white;
    font-size: 2.8rem;
    font-weight: 700px;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    

}
.why h4{
    color: white;
}
.why p{
    color: white;
    opacity: 60%;
}
.layout-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 40px;
    /* max-width: 1200px; */
    margin: 0 auto;
}
.audio{
 grid-columns: span 1;
 grid-row: span 2;
}
.mobile{
    grid-column: span 2;
}
.global{
    grid-column: span 2;
}
.exclusive{
    grid-column: span 2;
}

.layout-container>*{
    background-color: #35116566;
    padding: 40px;
    border-radius: 40px;

}
/* featured episodes related style */
.episodes-section{
    background-color: #1A0B2E;

}
.episodes{
    display: flex;
    gap: 25px;
    
    margin: 80px;


}
.episodes-section h2{
    color: white;
    font-size: 3rem;
    padding-top: 40px;
    text-align: center;
}
.ep-card{
background-color: #230E3D;
 border-radius: 40px;
 position: relative;
 
    
}
.play-btn{
    position: absolute;
    top: 20%;
    left: 40%;
    
    
}
.card-content{
    padding: 20px;
}
.ep-card h5{
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: bold;
}
.ep-card p{
    color: white;
    opacity: 60%;
    text-wrap: wrap;
}

.ep-card span{
    color: #00FF88;
}

.host{
    background-color: #1A0B2E;
    padding: 120px;
   
}
.host h3{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 20px;
}
.host h4{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.host p{
    color: white;
     opacity: 40%;
    
} 
.host-content{
    background-color: #35116566;
    /* opacity: 40%; */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 20px;
    
}
.icon{
    border: 1px solid rgb(112, 31, 31);
    padding: 5px;
    border-radius: 50%;
    margin-top: 10px;
}
.youtube{
    padding: 2px;
}
.footer{
    background-image: url(../assets/footer-bg.png);
   padding: 80px; 
   background-position: center;
   background-size: contain;
}
.footer-section{
    display: flex;
    flex-direction: column;
    /* padding-top: 150px; */
}
.footer-logo{
    text-align: center;
    
}
.footer-p{
    color: white;
    opacity: 60%;
    text-align: center;
}
.sponsors{
    display: flex;
    flex-direction: row;
   align-self: center;
   gap: 40px;
   padding: 30px;

   
}
.sponsors a{
    color: white;
    opacity: 60%;
    text-decoration: none;

}





/* small device responsive code */
@media screen and (max-width:576px) {
    
.navbar{
    padding: 20px;
}
 .navbar>span{
    display: inline-block;
    margin-right: 30px;
 }
    .menu, .nav-btn{
        display: none;
    }
    
}