@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Navbar related style */
.navbar{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 92px;
    padding: 30px 200px;
    align-items: center;

}
.navbar span{
    color: white;
    display: none; 
}
.menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.menu li a{
text-decoration: none;
color: white;

}
.menu li{
    list-style: none;
}
.nav-btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    font-weight: 600px;
    



}


/* small device responsive code */
@media screen and (max-width:576px) {
    
.navbar{
    padding: 20px;
}
 .navbar>span{
    display: inline-block;
    margin-right: 30px;
 }
    .menu, .nav-btn{
        display: none;
    }
    
}